@page
@model Webshop.Pages.AddCustomerModel
@{
}

<form method="post">
    <input type="text" asp-for="@Model.Customer.name" placeholder="Customer name" />
    <input type="text" asp-for="@Model.Customer.email" placeholder="Customer email" />
    <input type="text" asp-for="@Model.Customer.address" placeholder="Customer address" />
    <button type="submit">Submit</button>
</form>


@foreach (var customer in Model.Customers)
{
    <p>@customer.name</p>
    <p>@customer.email</p>
    <p>@customer.address</p>
}