@page
@model Webshop.Pages.CartModel
@{
}


@foreach (var group in Model.CartGroups)
{
    <h2>Item: @group.Key</h2>
    <h3>Amount: @group.Count()</h3>

    <form method="post" asp-page-handler="Add">
        <input type="submit" class="btn btn-danger" value="@group.Key" asp-for="@Model.GroupKey"  />
    </form>
    <form method="post" asp-page-handler="Remove">
        <input type="submit" class="btn btn-danger" value="@group.Key" asp-for="@Model.GroupKey" />
    </form>
    
}



<h3>VAT: @(Model.VAT) USD</h3>
<h2>Total sum: @Model.TotalSum USD</h2>
