@page
@model Webshop.Pages.CartModel
@{
}


@foreach (var group in Model.CartGroups)
{
    <h2>Item: @group.Key</h2>
    <h3>Amount: @group.Count()</h3>

    <form method="post" asp-page-handler="Add">
        <input type="submit" class="btn btn-danger" value="@group.Key" asp-for="@Model.GroupKey" />
    </form>
    <form method="post" asp-page-handler="Remove">
        <input type="submit" class="btn btn-danger" value="@group.Key" asp-for="@Model.GroupKey" />
    </form>
}

<form method="post" asp-page-handler="User">
    <label for="name">Name: </label>
    <input id="name" type="text" asp-for="@Model.Customer.name" />
    <label for="email">Email: </label>
    <input id="email" type="text" asp-for="@Model.Customer.email" />
    <label for="address">Address: </label>
    <input id="address" type="text" asp-for="@Model.Customer.address" />
    <label for="country">Country: </label>
    <input id="country" type="text" asp-for="@Model.Customer.country" />

    <button type="submit">Checkout</button>
</form>




<h3>VAT: @(Model.VAT) USD</h3>
<h2>Total sum: @Model.TotalSum USD</h2>
