@page
@model Webshop.Pages.CartModel
@{
    double priceOfOne = 0;
    int inStock = 0;
}


@foreach (var group in Model.CartGroups)
{
    foreach (var item in group)
    {
        priceOfOne = item.Product.price;
        inStock = item.Product.stock;
    }

    <h2>Item: @group.Key</h2>
    <h3>Amount: @group.Count()</h3>
    <h3>Price for one:@priceOfOne</h3>

    @if (group.Count() >= inStock)
     {
        <button class="btn btn-danger">+</button>
     }
     else
     {
        <form method="post" asp-route-GroupKey="@group.Key" asp-page-handler="Add">
        <input type="submit" class="btn btn-danger" value="+" />
        </form>
     }

    <form method="post" asp-route-GroupKey="@group.Key" asp-page-handler="Remove">
        <input type="submit" class="btn btn-danger" value="-"/>
    </form>


}

<h2 class="display-4">@Model.UserMessage</h2>

<div class="container">
    <form method="post" asp-page-handler="User">
        <label for="name">Name: </label>
        <input id="name" type="text" asp-for="Order.name" />
        <label for="email">Email: </label>
        <input id="email" type="text" asp-for="Order.email" />
        <label for="address">Address: </label>
        <input id="address" type="text" asp-for="Order.address" />

        <p>Select postage: </p>
        <label><input asp-for="@Model.Order.postage" type="radio" value=69 checked="checked" />Postnord 69kr</label>
        <label><input asp-for="@Model.Order.postage" type="radio" value=99 checked="checked" />DHL 99kr</label>

        <p>Select Payment method: </p>
        <label><input asp-for="@Model.Order.paymentMethod" type="radio" value="Klarna" checked="checked" />Klarna</label>
        <label><input asp-for="@Model.Order.paymentMethod" type="radio" value="Creditcard" checked="checked" />Creditcard</label>
        <input type="submit" name="name" value="Submit info" />
    </form>
</div>



<h2>Total sum: @Model.TotalSum USD</h2>
