@page
@model Webshop.Pages.CheckoutModel
@{
    double priceOfOne = 0;
}

<h1>Order Summary</h1>

@foreach (var order in Model.orders)
{
    <h3>Name: @order.name</h3>
    <h3>Address: @order.address</h3>
    <h3>Email: @order.email</h3>
    <h3>Payment method: @order.paymentMethod</h3>
}

@foreach (var group in Model.CartGroups)
{
    foreach (var item in group)
    {
        priceOfOne = item.price;
    }
    <h4>Item: @group.Key</h4>
    <h4>Amount: @group.Count()</h4>
    <h4>Price for one:@priceOfOne</h4>
}

<h3>Postage: @Model.Postage</h3>
<h3>VAT: @Model.VAT</h3>
<h1>Total Order Cost: @(Math.Round(Model.Sum + Model.Postage, 2))</h1>

<form method="post" asp-page-handler="Finalize">
    <input type="submit" value="Finalize order" />
</form>


<h1 class="display-2">@Model.Message</h1>

