@page
@model Webshop.Pages.CheckoutModel
@{
    double priceOfOne = 0;
}

<h1 class="display-4 text-center"><u>Order Summary</u></h1>

@if (Model.Message == null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.CartGroups)
            {
                foreach (var item in group)
                {
                    priceOfOne = item.price;
                }
                <tr>
                    <th scope="row">@group.Key</th>
                    <td>@group.Count()</td>
                    <td>@priceOfOne:-</td>
                    <td>@(priceOfOne * group.Count()):-</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                @foreach (var order in Model.orders)
                {
                    <ul class="list-group-md list-group">
                        <li class="list-group-item"><h5>Name: @order.name</h5></li>
                        <li class="list-group-item"><h5>Email: @order.email</h5></li>
                        <li class="list-group-item"><h5>Address: @order.address</h5></li>
                        <li class="list-group-item"><h5>Payment method: @order.paymentMethod</h5></li>
                    </ul>
                }
            </div>
            <div class="col">
                <ul class="list-group-lg list-group">
                    <li class="list-group-item"><h5>Postage: @Model.Postage:-</h5></li>
                    <li class="list-group-item"><h5>VAT: @Model.VAT:-</h5></li>
                    <li class="list-group-item"><h4>Total Order Cost: <b>@(Model.Sum + Model.Postage)</b>:-</h4></li>
                </ul>
            </div>
        </div>
    </div>

    <form method="post" class="mt-4" asp-page-handler="Finalize">
        <input class="btn btn-primary btn-lg" type="submit" value="Finalize order" />
    </form>
}


<h1 class="display-2 text-center mt-4">@Model.Message</h1>

