@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-1">
        <form asp-page-handler="language" method="post">
            <button class="btn btn-default">Svenska</button>
            <input type="hidden" name="swedish" value=true />
        </form>
    </div>
    <div class="col-lg-1">
        <form asp-page-handler="language" method="post">
            <button class="btn btn-default">English</button>
            <input type="hidden" name="swedish" value=false />
        </form>
    </div>
</div>


<h1 class="jumbotron text-center">@Model.WelcomeText</h1>

<style>
    .card {
        display: inline-block;
    }
</style>


<section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/4199235/pexels-photo-4199235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/684385/pexels-photo-684385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/5673488/pexels-photo-5673488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="p-5">
    <h3 class="display-4 text-left pb-3" style="font-size: 160%;"> <u><b><i>This weeks most purchased items</i></b></u></h3>

    @foreach (var item in Model.Products)
    {
        <div class="card mb-3 ml-2" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="@item.image" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                        @if (item.stock <= 0)
                        {
                            <a class="btn btn-danger">SOLD OUT</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-page="/cart" asp-route-ItemID="@item.id">Purchase</a>
                        }
                        <p class="card-text text-right">Price: @item.price:-</p>
                        <p class="card-text"><small class="text-muted">Last bought @(item.stock <= 0 ? 0 : 4) minutes ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>



