@page
@model Webshop.Pages.ProductsModel
@{
}

<style>
    .card {
        display: inline-block;
    }
</style>


<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <h2 class="display-4"><u>Products</u></h2>
            <h3>@(Model.Category != null ? char.ToUpper(Model.Category[0]) + Model.Category.Substring(1) : "")</h3>
        </div>
        <div class="col pt-4 pl-4">
            <form class="d-flex" method="post" asp-page-handler="Search">
                <input class="form-control-lg" id="fritext" placeholder="Search items" type="text" asp-for="@Model.SearchMessage" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

@{int i = 0; }
@foreach (var item in Model.Products.Where(product => product is not Models.GroupSale))
{
    <div class="card" style="width: 18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <img alt="Card image cap" class="card-img-top embed-responsive-item" src="@item.image" />
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @item.title
                </h5>
                <h6 class="card-text text-right">Price: @item.price:-</h6>
                <div class="row">
                    <div class="col">
                        @if (item.stock <= 0)
                        {
                            <a class="btn btn-danger">SOLD OUT</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-page="/cart" asp-route-ItemID="@item.id">Purchase</a>
                        }
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample_@i" role="button" aria-controls="offcanvasExample">
                            More Info
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample_@i" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    <img style="max-width: 100%; height: auto;" src="@item.image" class="img-fluid" />
                                </div>
                                <h4 class="m-3">@item.title</h4>
                                <p><i>@item.description</i></p>
                                <h5 class="text-right">Price: @item.price:-</h5>
                                <p><b>Stock: @(item.stock > 0 ? item.stock : "SOLD OUT")</b></p>
                                @if (item.stock <= 0)
                                {
                                    <a class="btn btn-danger">SOLD OUT</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-page="/cart" asp-route-ItemID="@item.id">Purchase</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    i++;
 }


@foreach (var item in Model.Products.Where(product => product is Models.GroupSale))
{
    <div class="card" style="width: 18rem;">
        <div class="embed-responsive embed-responsive-1by1">
            <img alt="Card image cap" class="card-img-top embed-responsive-item" src="@item.image" />
        </div>
        <div class="card-body">
                <h4><u>GROUP SALE</u></h4>
                <h5 class="card-title">
                    @item.title
                </h5>
                <h6 class="card-text text-right">Original price for @(((Models.GroupSale)item).groupSize) : <del>@(((Models.GroupSale)item).originalPriceForGroup) $</del></h6>
                <h6 class="card-text text-right">When purchased together: @item.price $</h6>
                <div class="row">
                    <div class="col">
                        @if (item.stock <= 0)
                        {
                            <a class="btn btn-danger">SOLD OUT</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-page="/cart" asp-route-ItemID="@item.id">Purchase</a>
                        }
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample_@i" role="button" aria-controls="offcanvasExample">
                            More Info
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample_@i" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    <img style="max-width: 100%; height: auto;" src="@item.image" class="img-fluid"/>
                                </div>
                                <h4 class="m-3">@item.title</h4>
                                <p><i>@item.description</i></p>
                                <h6 class="text-right">Original price for @(((Models.GroupSale)item).groupSize) : <del>@(((Models.GroupSale)item).originalPriceForGroup) :-</del></h6>
                                <h5 class="text-right">New price: @item.price:-</h5>
                                <p><b>Stock: @(item.stock > 0 ? item.stock : "SOLD OUT")</b></p>
                                @if (item.stock <= 0)
                                {
                                    <a class="btn btn-danger">SOLD OUT</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-page="/cart" asp-route-ItemID="@item.id">Purchase</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    i++;

}


