@page
@model Webshop.Pages.ProductsModel
@{
}

<style>
    .card {
        display: inline-block;
    }
</style>


<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <h2 class="display-4"><u>Products</u></h2>
        </div>
        <div class="col pt-4 pl-4">
            <form class="d-flex" method="post" asp-page-handler="Search">
                <input class="form-control-lg" id="fritext" placeholder="Search items" type="text" asp-for="@Model.SearchMessage" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

@{int i = 0; }
@foreach (var item in Model.Products)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.title</h5>
            <p class="card-text text-right">Price: @item.price USD</p>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" asp-page="/cart" asp-route-id="@item.id">Purchase</a>
                </div>
                <div class="col">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample_@i" role="button">
                            More Info
                        </a>
                    </p>
                </div>
            </div>
            <div class="collapse" id="collapseExample_@i">
                <div class="card card-body">
                    <p>@item.description</p>
                </div>
            </div>
        </div>
    </div>

    i++;
    
}

